
.video-container iframe {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  opacity: 0.25; /* Ajusta la transparencia del video */
  transition: opacity 1s ease-in-out;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.youtube-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.5) contrast(1.2) saturate(1.3);
  
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at top left, #161618, #28303a, #334a57);
  mix-blend-mode: soft-light; /* Prueba también 'multiply', 'soft-light' o 'screen' */
  z-index: 2;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

@media screen and (max-width: 768px) {
    .video-container {
    width: 300vw;
    }

}