.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 2rem;
}

.home-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}


.loader-overlay {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at top left, #161926, #1c3553, #1c465e);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-top-color: #ff4081;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}