.normal-game {
  background: #0e0d16e9;
  color: white;
  min-height: 100vh;
  padding: 3rem;
  text-align: center;
  display: flex;
  padding-top: 80px;
  align-items: center;
  flex-direction: column;
}

@keyframes fadeScale {
  0% { opacity: 0.3; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1.2); }
  100% { opacity: 0.3; transform: scale(0.8); }
}

.game-content {
  width: 100%;
  max-width: 600px;
}


.option-btn:hover {
  background-color: #2a3554;
}

.option-btn.correct {
  background-color: #08916f;
}

.option-btn.wrong {
  background-color: #521313;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Poppins';
}

@keyframes fadeZoom {
  0% { opacity: 0; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 0; transform: scale(1.4); }
}


.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  max-width: 70%;
}

.options button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #1a153d;
  color: white;
  transition: transform 0.2s;
  min-height: 70px;
}

.options button:hover {
  transform: scale(1.05);
}

.options button.correct {
  background-color: #08916f;
}

.options button.incorrect {
  background-color: #521313;
}



@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.song-details {
  margin: 1rem 0;
  font-style: italic;
  color: #ccc;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

#bg-video{
  object-fit: cover;
  width: 100vw;
  height: 100vh; position: fixed;
  top: 0; left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .normal-game {
    padding-top: 20px;
  }
  .options {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
  .normal-game .question {
    font-size: 1.5rem
  }

  .options button {
    min-height: 70px;
    font-size: 0.85rem;
  }
}
